@font-face {
  font-family: Roboto;
  src: url("/fonts/RobotoMono.ttf");
  font-display: swap;
}
//colors
$primary-color: blue;
$secondary-color: #333;
$tertiary-color: tan;

$red-rabbit: #9d2f37;
$soft-green: #77bb9a;
$blue-bun: #14143d;
$lilac: #d5bfd0;
$cream: #fff1b9;

//fonts
$primary-font: Roboto;
$secondary-font: Helvetica;

$font-size-body: 16px;
$font-size-secondary: 14px;

//add rem font sizing orr % based font sizing

//breakpoints
$media-lg: 769px;
